{
    "token": "your-token-goes-here",
    "clientId": "your-client-id-goes-here",
    "guildId": "your-development-server-id-goes-here",
    "developmentGuildInvite": "your-server-invite-goes-here",
    "developmentGuildName": "your-server-name=goes-here"
}