{
    "token": "your-token-goes-here",
    "clientId": "your-client-id-goes-here",
    "guildId": "your-development-server-id-goes-here",
    "developmentGuildInvite": "your-server-invite-goes-here",
    "developmentGuildName": "your-server-name=goes-here",
    "commandHelpWiki": "https://github.com/W4ff1e/wafflebot/wiki/Command-Help",
    "botOwnerId": "your-id-here"
}